* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #161320;
  --mauve: #ddb6f2;
  --pink: #f5c2e7;
  --green: #abe9b3;
  --peach: #f8bd96;
  --sky: #89dceb;
  --red: #f28fad;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(https://raw.githubusercontent.com/catppuccin/wallpapers/main/gradients/magenta_pink.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  color: var(--mauve);
}
.navbar h1 {
  font-size: 2rem;
}
.app-container {
  margin: auto;
}
.logo {
  color: var(--pink);
  font-size: 2rem;
}
.cart-btn {
  background-color: inherit;
  border: none;
}
.cart-count {
  background-color: white;
  width: max-content;
  height: max-content;
  padding: 0.2rem;
  color: var(--pink);
  background-color: inherit;
}
.faq-header {
  border-bottom: 5px solid var(--green);
  color: var(--green);
  width: max-content;
  margin: auto;
  margin-bottom: 1rem;
}

.question-container {
  background-color: var(--black);
  border-radius: 1rem;
  width: 80%;
  margin: auto;
  padding: 1rem;
}
.questions {
  padding: 1rem;
  color: var(--red);
}
.show-logo,
.hide-logo {
  font-size: 2rem;
  color: var(--black);
}
.show-hide-faq-btn {
  border: none;
}
.btn {
  cursor: pointer;
}
.qna-header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.qna p {
  font-size: 1.2rem;
  border-top: 3px solid var(--green);
  padding: 1rem;
  color: var(--green);
}
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--black);
  width: 1000px;
  border-radius: 1rem;
}
.products-container header {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: var(--green);
}
.products-container h2 {
  color: red;
  font-size: 5rem;
}
img {
  width: 100px;
  height: 100px;
}
.product {
  width: 500px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid var(--green);
  border-radius: 0.5rem;
}
.product h3 {
  color: var(--mauve);
}
.product p {
  color: var(--peach);
}
.product h4 {
  color: var(--red);
}
.product article {
  color: var(--sky);
  margin-bottom: 0.5rem;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btn-sub-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-sub-container div {
  padding: 0.2rem;
  font-size: 2rem;
  color: var(--red);
}

.remove-btn,
.details-btn,
.clear-btn {
  border: 1px solid var(--red);
  color: var(--red);
  font-size: 1.2rem;
  background-color: var(--black);
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.underline {
  width: 800px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  background-color: var(--red);
  height: 5px;
}
.total {
  display: flex;
}
.total p,
.total section {
  font-size: 1.5rem;
  color: var(--green);
}
.products-container h6 {
  color: red;
}
@media screen and (max-width: 1022px) {
  .products-container {
    width: 700px;
  }
}
@media screen and (max-width: 711px) {
  .products-container {
    width: 500px;
  }
}
